/*
|=====================
| GLOBAL
|=====================
*/

body {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #080835;
    background-image: url(../images/earth-cmdf-NEW.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100%;
    color: #FFF;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 6em;
    letter-spacing: 2.2px;
    font-variant: small-caps;
    text-shadow: 0px 6px 16px #000;
    transition: 0.8s;
}

h2 {
    font-size: 60px;
    font-variant: small-caps;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 215px 0 100px;
}

h3 { 
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    text-shadow: 2px 2px 5px #000000;
}

em {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    text-shadow: 2px 2px 5px #000000;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    padding: 130px 50px 75px;
    text-align: center;
    color: #000;
}

a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 0px 6px 16px #000;
    transition: 0.3s;
}

/*
|=====================
| NAVIGATION
|=====================
*/

/*
|=====================
| CLICK ME BUTTON
|=====================
*/

.clickme {
    margin: 0 auto;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: black;
    justify-content: center;
    align-items: center;
    float: inherit;
}

 #spaceship {
     display: flex;
     justify-content: center;
     margin: 0 auto;
     height: 300px;
     align-items: center;
 }

/*
|=====================
| GRID HELPERS
|=====================
*/

.container {
    display: flex;
    justify-content: center;
    padding: 250px 0 100px;
}

.cont-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 50px;
}

.is-flex {
    display: flex;
}

.cont-btn {
    position: relative;
    display: flex;
    justify-items: flex-end;
}

/*
|=====================
| SECTION HELPERS
|=====================
*/

.card {
    width: 350px;
    height: 450px;
    background: #FFD66E;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    margin: 60px 100px 15px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.3s;
}

.nxt-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 200px;
    height: 60px;
    color: #fff;
    background: #FF8A00;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    margin: 60px 100px;
    padding: 25px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 550;
    position: absolute;
    top: -180px;
    left: 75%;
    transition: 0.3s;
}

/*
|=====================
| HOVER
|=====================
*/

h1:hover {
    color: #EF2D2D;
    font-size: 8em;
}

.card:hover {
    background: #FF8A00;
}

.nxt-btn:hover {
    background-color: #FFD66E;
    color: #000;
}

/*
|=====================
| QUESTIONS #1
|=====================
*/


/*
|=====================
| QUESTIONS #2
|=====================
*/


/*
|=====================
| QUESTIONS #3
|=====================
*/


/*
|=====================
| QUESTIONS #4
|=====================
*/


/*
|=====================
| QUESTIONS #5
|=====================
*/


/*
|=====================
| GOOD ENDING
|=====================
*/


/*
|=====================
| BAD ENDING
|=====================
*/



/*
|=====================
| FOOTER
|=====================
*/

#footer {
    display: flex;
    width: 100vw;
    height: 120px;
    position: absolute;
    justify-content: center;
    left: 0;
    bottom: -100px;
    margin-top: 25px;
    color: rgb(148, 176, 253);
}