/*
|=====================
| GLOBAL
|=====================
*/
body {
    display: flex;
    flex-direction: column;
    background-image: url(../images/earth-cmdf-NEW.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    padding: 0 150px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 6em;
    font-variant: small-caps;   
}

h2 {
    font-size: 60px;
    font-variant: small-caps;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 300px 0 200px;
}

h3 { 
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
     
}

em {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    padding: 130px 50px 75px;
    text-align: center;
}

/*
|=====================
| NAVIGATION
|=====================
*/

/*
|=====================
| CLICK ME BUTTON
|=====================
*/
.clickme {
    margin: 0 auto;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: black;
    justify-content: center;
    align-items: center;
    float: inherit;
}
 #spaceship {
     display: flex;
     justify-content: center;
     margin: 0 auto;
     height: 300px;
     align-items: center;
 }

/*
|=====================
| GRID HELPERS
|=====================
*/
.container {
    display: flex;
    justify-content: center;
    padding: 300px 0px 155px;
}

.cont-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 50px;
}

.is-flex {
    display: flex;
}

/*
|=====================
| SECTION HELPERS
|=====================
*/

.card {
    width: 350px;
    height: 450px;
    background: #C4C4C4;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    margin: 60px 100px 15px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nxt-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 200px;
    height: 60px;
    background: #C4C4C4;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    margin: 60px 100px;
    padding: 25px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 550;
}

.col-right

.col-left


/*
|=====================
| QUESTIONS #1
|=====================
*/

.question1{
    position: absolute;
    width: 980px;
    height: 807px;
    left: 320px;
    top: 1134px;
}

/*
|=====================
| QUESTIONS #2
|=====================
*/


/*
|=====================
| QUESTIONS #3
|=====================
*/


/*
|=====================
| QUESTIONS #4
|=====================
*/


/*
|=====================
| QUESTIONS #5
|=====================
*/


/*
|=====================
| GOOD ENDING
|=====================
*/


/*
|=====================
| BAD ENDING
|=====================
*/



/*
|=====================
| FOOTER
|=====================
*/
#footer {
    display: flex;
    width: 100vw;
    height: 120px;
    position: fixed;
    justify-content: center;
    left: 0px;
    top: 904px;
    margin-top: 25px;
    background-color: rgb(148, 176, 253);
}